body {
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
}
.time-selected{
    background-color: palevioletred;
}
.highlight-typing{
    background: rgba(148, 142, 142, 0.558);
    font-weight: 400;
    padding: 2px;
}
.correct-char{
    color: rgb(82, 208, 82);
    background-color: rgba(90, 255, 0, 0.095);
}
.wrong-char{
    color: rgb(208, 82, 82);
    background-color: rgba(255, 0, 0, 0.095);
}